#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

$simulation-width: 60rem;
$simulation-height: 30rem;
$floor-background: url("https://media.istockphoto.com/vectors/wooden-texture-vector-vector-id483883932?k=20&m=483883932&s=612x612&w=0&h=Tda-LM23hIe2atUCEWhRdn82dQP5AjQI42OiYvYfgfY=");
$vacuum-radio: 10rem;
$vacuum-center: calc($simulation-width/2 - 80px);

.simulation {
  background: grey;
  width: $simulation-width;
  height: $simulation-height;
  display: flex;
  position: relative;
  &__section {
    position: relative;
    &--1,
    &--2 {
      height: $simulation-height;
      width: calc($simulation-width/2);
      outline: solid #4e342e;
      background: $floor-background;
    }

    &--trash {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #757575;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      box-shadow: 40px 0 #757575, -40px 0 #757575, 40px -90px #757575,
        -40px 80px #757575, 90px 100px #757575, -90px -100px #757575;
    }
  }
  &__vacuum {
    height: $vacuum-radio;
    width: $vacuum-radio;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px;
    left: $vacuum-center;
    transition: 2s ease-in-out all;
    &--left {
      left: calc($vacuum-radio);
    }
    &--right {
      left: calc($vacuum-radio * 4);
    }
    &--on {
      animation: 1s infinite alternate vacuumon;
    }
    &--off {
      animation: 1s forwards vacuumoff;
    }
  }
}

@keyframes vacuumon {
  100% {
    box-shadow: 0 0 0 10px #f44336;
  }
}

@keyframes vacuumoff {
  100% {
    left: $vacuum-center;
  }
}

@keyframes vacuumleft {
  100% {
    left: calc($vacuum-radio) !important;
  }
}

@keyframes vacuumright {
  100% {
    left: calc($vacuum-radio * 4) !important;
  }
}
